<li>
	<div>
		{{name}}
	</div>
	<div>
		<button class="change-devour btn btn-primary btn-sm" data-id="{{id}}" data-newdevour="{{devour}}">
			{{#if devour}}EAT IT{{else}}ORDER UP{{/if}}
		</button>

		<button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">REMOVE</button>
	</div>
</li>