<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT IT{{else}}ORDER UP{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">REMOVE FROM MENU</button>
</li>
