<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}YUM YUM YUM!{{else}}ADD IT TO THE MENU!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{id}}">REMOVE!</button>
</li>